<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <title>New Donor Registration</title>
    </head>
    <body>
        <p>Welcome New Donor!</p> 
        <form>
            Name of the Donor: <input type = "text" placeholder= "Enter Name here" name= "first"><br>
            Mobile number: <input type = "text" placeholder = "Enter mobile no here" name = "mobno"> <br>
            Date of Birth: <input type = "text" placeholder = "Enter DOB here" name = "dob"><br>
        </form>
    </body>
</html> 