<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <title>Donor Log In</title>
    </head>
    <body>

        <p>Welcome Donor!</p>
        {% include 'Donate/messages.html' %}
        <form method="POST">
            {% csrf_token %}
            <h4>Username: <input type="text" placeholder="Username" name="username"></h4>
            <h4>Password: <input type="password" placeholder="Password" name="password"></h4>
            <input type="submit" placeholder="Login">
        </form>
    </body>
</html> 