<div id="footer">
<div class="container-fluid">
    <div class="row" >
    <footer class="footer mt-auto py-3 bg-dark " style="width:100vw">
      <div class="container-fluid">
        <div class="col-6">
          <ul class="list-group list-group-flush bg-dark">
            <li class="list-group-item text-light bg-dark">Contact us </li>
            <li class="list-group-item text-light bg-dark">Donate@gmail.com</li>
            <li class="list-group-item text-light bg-dark">9528829014</li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
</div>