<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <style>
    .img{
          
          
        background-image: url(https://static1.bigstockphoto.com/0/0/4/large1500/400683050.jpg);
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        height: 800px;
    }
    </style>
    </head>
    

    <body>
<div class="container-fluid" style="margin-top:50px ;">
{% include 'Donate/navbar.html' %}    </div>
        <div class="container-fluid img">    
        
        <h1 class="pt-5 pb-2 text-center ">List of NGOs available</h1>
    <form action="Item_sel">
        <div class="container-fluid  ">
            <div class="card p-2 " style="width: 90rem;min-height:20rem;margin-left: auto;margin-right: auto;">
            <table class="table table-bordered" style="width: 100%;height: 100%; margin-left: auto;margin-right: auto;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">NGO name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact no. </th>
                    <th scope="col">Website</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  
                    <form>
                    {% for i in ngos %}
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td> {{ i.user }}</td>
                    <td>{{ i.place }}</td>
                    <td>{{ i.mobno }}</td>
                    <td>{{ i.website }}</td>
                    <td><button type="button" class="btn btn-primary" ><a href="Item_sel" style="color: white">Donate</a></button></td>
                    </tr>
                    {% endfor %}
                  </form>
                  
                </tbody>
              </table>
              </div>
            </div>  
        </div>
        <br>
        <br>
        <br>
        <br>
      
    <footer>
        {% include 'Donate/Footer.html' %}
    </footer>

    </body>
    


</html>