<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <style>
    .img{
          
          
        background-image: url(https://static1.bigstockphoto.com/0/0/4/large1500/400683050.jpg);
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        height: 800px;
    }
    </style>
    </head>
    

    <body>
        <div class="container-fluid img pt-5">    
          <div> {% include 'Donate/navbar.html' %}</div> 
        <h1 class="pt-5 pb-2 text-center ">List of NGOs available</h1>
    <form action="Item_sel">
        <div class="container-fluid  ">
            <div class="card p-2 " style="width: 90rem;min-height:20rem;margin-left: auto;margin-right: auto;">
            <table class="table table-bordered" style="width: 100%;height: 100%; margin-left: auto;margin-right: auto;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">NGO name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact no. </th>
                    <th scope="col">Website</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  
                    <form method="POST" action="Item_sel">
                    {% csrf_token %}
                    {% for i in ngos %}
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td> {{ i.user }}</td>
                    <td>{{ i.place }}</td>
                    <td>{{ i.mobno }}</td>
                    <td>{{ i.website }}</td>
                    <td><input type="submit" class="btn btn-primary" value="{{ i.user }}" name="NGO_name" ><a style="color: white">Donate</a></input></td>
                    </tr>
                    {% endfor %}
                  </form>
                  
                </tbody>
              </table>
              </div>
            </div>  
        </div>
       
      
    
        {% include 'Donate/Footer.html' %}
    <!-- </footer> -->
  <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    </body>
    


</html>